<div class="po-offset-2 po-md-8">

  <po-button class="btn-color-blue" p-label="Teste de Scss"></po-button>
  <po-button class="btn-color-orange" p-label="Teste de Scss"></po-button>
  <po-button class="btn-color-pink" p-label="Teste de Scss"></po-button>
  <po-button class="btn-color-blue" p-label="Teste de Scss" [p-disabled]="true"></po-button>
  <po-button class="btn-color-orange" p-label="Teste de Scss" [p-disabled]="true"></po-button>
  <po-button class="btn-color-pink" p-label="Teste de Scss" [p-disabled]="true"></po-button>


  <div class="btn-color-green">
    <button>Teste</button>
  </div>

  <po-container></po-container>
</div>
